:root{
  --shadow:20px 20px 20px rgba(228, 228, 228, 0.918);
  --lightGrey:lightgray;
  --btn-color:grey;
}
.App {
  text-align: center;
}
html{
  font-family: Arial, Helvetica, sans-serif
  
}

body{
  background:var(--lightGrey);
}
/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.flex-container{
  display: flex;
  background-color: rgb(10, 10, 10);
  justify-content: space-between;
  padding: 1rem;
}

/*style for content*/
 ul> li{
  color:#fff;
  list-style: none;
  font-size:1.3rem;
}
li> i{
  font-size: 2rem;
}
.main-content{
  box-shadow: var(--shadow);
}
.slogan{
  text-align: left;
  font-size: 3rem;
  line-height: 3rem;
  display: block;
  padding: 2rem 0;
  
}
.content-box{
  padding: 10rem;
}
.search-section{
  display: flex;
  justify-content:space-between;
  font-size:0.7rem;
}
.search-section>button{
  width:8vw;
 
}
.launch-section{
  display: flex;
  justify-content:space-between; 
}
.launch-section >button {
  width: 15vw;
  
}
.dropdown-btn{
  background: var(--lightGrey);
  border: none;
  box-shadow: none;  
}
.dropdown-btn i{
  color: grey;
}
.search-title{
 
  display:block;
  text-align: left;
}
input{
  width: 20vw;
}
.launch-title{
 
}
button{
  box-shadow: var(--shadow);
  background:var(--btn-color);
  color:#fff;
  font-size:0.7rem;
  border: none;
}

